.app {
  text-align: center;
}

/* Header */
h1 {
  text-shadow: 1px 1px 0 grey;
}

/* Todos */
.description {
  text-shadow: 1px 1px 0 grey;
  margin: 0 5px 5px 0;
}

/* TodoList */
.list {
  padding-left: 80px;
}

.list-elements {
  padding-left: 15px;
  border-left-width: 2px solid black;
}

/* completed item */
#true {
  text-decoration: line-through;
}